.btn-eco{
    background: #2196f3;
    color: #fff!important;
}
.f-w-500 {
    font-weight: 500;
    font-family: auto;
}

.fs-16 {
    font-size: 16px;
}

hr.red-hr{
    max-width: 10.25rem;
    border: .2rem red;
}

hr.white-hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.blue-color{
    color: $blue-custom;
}
.pointer{
    cursor: pointer;
}
.fab.fa-whatsapp {
    color: #25d366;
}

.hidden{
    display: none;
}

.about-page-section, .services-page-section {
    padding-top: 250px;
    text-align: center;
    background: #eee;
}

.disabled{
    cursor: not-allowed!important;
}

.underline {
    text-decoration: underline!important;
}

.text-pre-wrap {
    white-space: pre-wrap;
}


// Contact Options Boxes
#contact.contact-section{

    background-color: #f5f5f5;

    .contact-boxes {
        padding: 70px 30px 60px !important;
        background-color: #ffffff !important;
        border-right: 1px solid #dddddd !important;
        border-bottom: 5px solid #dddddd !important;
        border-radius: 1px !important;

        .content{

            .icon i.fas, .icon i.far {
                font-size: 70px;
            }

        }

    }


}

@media (max-width: 991.98px) {
    #contact.contact-section {
        .contact-boxes {
            padding: 30px 5px 15px !important;
            border-bottom: 1px solid #dddddd !important
        }
    }
}
