#profile {

    section {

        &.intro {
            min-height: 250px;
            line-height: 1.5;
            margin: 0;
            text-align: left;
            color: #FFFFFF;
            background-color: #525f7f;
        }

        &.main-section {
            margin-top: -150px;

        }

    }


}