#services {
    .intro-section {
        height: 400px;
        padding-top: 125px;
        text-align: center;
        color: #ffffff;

        &#intro {
            background-image: url(/images/photography-of-people-graduating-emily-ranquist.jpg);
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

            .intro-text {
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.35);
            }
        }
    }

    #services-list {
        .service-title span{
            text-transform: uppercase;
            position: relative;
            padding: 10px;
            font-size: 14px;
            z-index: 1;
            font-weight: 900;
            line-height: 34px;
            background: #FFFFFF;
        }

        .service-details {
            margin-bottom: 30px;
            padding: 25px;
            position: relative;
            z-index: 1;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
        }
    }
}
